<h4>Scoreboard</h4>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Total</th>
      <th>Time</th>
      <% @problems.each do |problem| %>
      <th><%= problem.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.team_name %></td>
      <td><%= -@scores[user][0] %></td>
      <td>
        <% if @scores[user][1] != 0 %>
        <%= @scores[user][1].strftime('%H:%M:%S') %>
        <% end %>
      </td>
      <% @problems.each do |problem| %>
      <td>
        <% if @submissions[user][problem] %>
        <%= @submissions[user][problem].score %>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
