<%= stylesheet_link_tag    "problems", :media => "all" %>


<%= form_tag("/submit_problem", :method => "post", :id => "create_form") do %>
  <h2>Create Problem</h2>
  <hr />

  <div class="form-row">
    <%= label_tag :name, "Name" %>
    <%= text_field_tag :name, "" %>
  </div>

  <div class="form-row">
    <%= label_tag :category, "Category" %>
    <span>
    <%= radio_button :problem, :category, 'css', :checked => true %> 
    <%= label :category_css, 'CSS' %>
    </span>
    <span>
    <%= radio_button :problem, :category, 'js' %>
    <%= label :category_js, 'JS' %>
    </span>
    <span>
    <%= radio_button :problem, :category, 'sql' %>
    <%= label :category_sql, 'SQL' %>
    <span>
  </div>

  <div class="form-row">
    <%= label_tag :description, "Description" %>
    <%= text_area_tag :description, "" %>
  </div>

  <div class="form-row">
    <%= submit_tag "Submit" %>
  </div>

<% end %>