<%= stylesheet_link_tag    "home", :media => "all" %>

<% if current_user.admin %>
<p>
  <a href="/admin">Admin panel</a>
</p>
<% end %>

<% @categories.each do |category| %>
<div class="category">
  <h2><%= category.name %></h2>

  <% category.problems.each do |problem| %>
  <div class="problem">
    <h3 class="problem-header">
      <%= link_to problem.name, new_submission_path(problem_id: problem) %>
    </h3>

    <% if problem.submissions.for_user(current_user).empty? %>
      You have not yet attempted to solve this problem.
    <% else %>
      <h4>Submissions</h4>
      <% problem.submissions.for_user(current_user).recent_first.
                 each do |submission| %>
      <div class="solution">
        <span class="time"><%= submission.created_at.change(:offset => "-5000").strftime('%H:%M:%S') %></span> |
        <span class="verdict">
          <% if submission.verdict %>
            Score: <%= submission.score() %>
            <% if submission.verdict.accepted? %>
              accepted
            <% else %>
              rejected
            <% end %>
          <% else %>
            Queued for grading
          <% end %>
        </span>

<% if submission.verdict %>
  <% if submission.verdict.accepted? %>
    <span class="verdict verdict-accepted">
    <%= submission.verdict.message %>
    </span>
  <% else %>
    <span class="verdict verdict-rejected">
    <%= submission.verdict.message %>
    </span>
  <% end %>
<% else %>
<span class="verdict verdict-queued">
  Queued
</span>
<% end %>

        <div class="solution-body">
          <%= submission.code %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <% end %>

</div>
<% end %>
