<%= stylesheet_link_tag    "home", :media => "all" %>

<h2>Submitted solutions</h2>

<% @categories.each do |x| %>
<div class="category">

  <h3><%= x['category'] %></h3>

  <% x['problems'].each do |prob| %>
  <div class="problem">
    <div class="problem-header"><%= prob.name %></div>
    <% solns = prob.solutions.where(:user_id => @user.id).order('created_at DESC') %>
    <% if solns.length == 0 %>
      No solutions submitted
    <% else %>
      <% solns.each do |soln| %>
      <div class="solution">
        <%=soln.created_at %> - <%= soln.submission %>
      </div>
      <% end %>
    <% end %>
  </div>
  <% end %>

</div>
<% end %>