<%= stylesheet_link_tag    "home", :media => "all" %>


<% if @user.admin %>
  <a href="/create_problem">create a new problem</a>
<% end %>

<% @categories.each do |x| %>
<div class="category">

  <h2><%= x['category'] %></h2>

  <% x['problems'].each do |prob| %>
  <div class="problem">
    <div class="problem-header">
      <a href="/problems/<%= prob.id %>">
        <%= prob.name %>
      </a>
    </div>
    <% solns = prob.solutions.where(:user_id => @user.id).order('created_at DESC') %>
    <% if solns.length == 0 %>
      No solutions submitted
    <% else %>
      <% solns.each do |soln| %>
      <div class="solution">
        <%=soln.created_at %>
        <div class="solution-body">
          <%= soln.submission %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <% end %>

</div>
<% end %>