<script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<%= javascript_include_tag "lib/mode-javascript" %>
<%= javascript_include_tag "lib/theme-monokai" %>

<%= javascript_include_tag "submission" %>
<%= stylesheet_link_tag "submissions", :media => "all" %>


<div class="row">
  <div class="twelve columns">
    <h2>6.470 Arctic Heist - <%= @submission.problem.category.name %> Problem</h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <div class="row">
      <div class="eight columns">
        <h3><%= @submission.problem.name %></h3>
      </div>
      <div class="four columns"><p>Points: <%= @submission.problem.weight %></p></div>
    </div>

    <%= @submission.problem.description_html.html_safe %>

    <h3>Mission</h3>

    <div class="row">
      <div class="eight columns">
        <div class="panel">

<%= form_for(@submission, id: 'solution_form') do |f| %>
  <%= f.hidden_field :problem_id %>
  <%= f.text_area :code %>
  <div id="editor"><%= @submission.code %></div>
  <div class="clear"> </div>
  <div class="centercontent">
    <%= f.button type: 'submit', :class=>'success button' do %>Submit Solution<% end %>
  </div>
<% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal2" class="reveal-modal">
  Cannot submit solution. Backend does not exist, lol.
  <a class="close-reveal-modal">&#215;</a>
</div>

