<%= form_tag("/submit_registration", :method => "post", :id => "registration_form") do %>
  <h2>Sign up</h2>
  <hr />
  <%= label_tag :email, "Email" %>
  <%= text_field_tag :email, session[:autocomplete_email], :class => "normal_input" %>
  <div class="clear"> </div>
  <%= label_tag :password, "Password" %>
  <%= password_field_tag :password, "", :class => "normal_input" %>
  <div class="clear"> </div>
  <%= label_tag :repassword, "Re-type Password" %>
  <%= password_field_tag :repassword, "", :class => "normal_input" %>
  <div class="clear"> </div>
  <%= label_tag :name, "Name" %>
  <%= text_field_tag :name, session[:autocomplete_name], :class => "normal_input" %>
  <div class="clear"> </div>
  <%= label_tag :region, "Region" %>
  <%= text_field_tag :region, session[:autocomplete_region], :class => "normal_input" %>
  <div class="clear"> </div>
  <%= submit_tag "Sign Up" %>
  <hr />
  <p id="old_users">
    Already have an account?  Sign in <%= link_to 'here', '/login' %>.
  </p>
<% end %>