<!DOCTYPE html>
<html>
<head>
  <title>6.470 Arctic Heist 2012</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div id="header_container">
    <div id="header">
      <div id="logo_container">
      </div>
      <div id="login_container">
        <%= link_to 'Home', '/' %>&nbsp;&nbsp;|&nbsp;&nbsp;
        <% if current_user %>
          <%= link_to current_user.team_name, change_password_session_path  %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Log Out', session_path, :method => :delete %>
        <% else %>
          <%= link_to 'Sign In', new_session_path %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Register', new_user_path %>
        <% end %>
      </div>
      <div class="clear"> </div>
    </div>
  </div>

  <div id="main_container">
    <div id="main">
      <% if flash[:notice] %>
        <div class="message"><%= flash[:notice] %><%= image_tag "close.png", :class => "hover_link flash_close" %><div class="clear"> </div></div>
      <% end %>

      <% if flash[:message] != nil %>
        <% for message in flash[:message] %>
          <div class="message"><%= message %><%= image_tag "close.png", :class => "hover_link flash_close" %><div class="clear"> </div></div>
        <% end %>
      <% end %>

      <% if flash[:error] != nil %>
        <% for error in flash[:error] %>
          <div class="error"><%= error %><%= image_tag "close.png", :class => "hover_link flash_close" %><div class="clear"> </div></div>
        <% end %>
      <% end %>

      <%= yield %>
    </div>
  </div>

</body>
</html>
